@use 'particles/header.scss' as *;

@use 'particles/main.scss' as *;

@use 'particles/footer.scss' as *;


@import "../../node_modules/bootstrap/scss/bootstrap";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

